body {
    background: #000;
}
header .navbar {
    margin: 0 0 3em;
}
header .navbar .navbar-inner {
    padding: 0 0 4px;
    background: transparent;
    border: none;
    box-shadow: none;
}
header .navbar .brand,
header .navbar .navbar-text {
    color: #ddd;
    font-weight: 400;
}
header .navbar .brand:hover {
    color: #fff;
    text-shadow: 3px 0px 3px #555;
}
footer {
    color: #777;
    font-size: 0.9em;
    font-weight: 200;
}
footer div {
    padding: 1em 0;
    border-top: 1px dotted #333;
}
footer p {
    margin: 0;
}
footer a {
    color: #999;
}
footer a:hover {
    color: #fff;
    text-decoration: none;
}


.div_list_title {
    margin-top: 3em;
    padding: 10px 1em 1em;
    border-bottom: 1px solid #777;
}
.ul_video_list li {
    padding: 1em;
    border-bottom: 1px solid #333;
}
.ul_video_list li:hover {
    background: #333;
    cursor: pointer;
}
.ul_video_list li .pull-left {
    width: 93%;
}
.ul_video_list li .pull-right {
    width: 3%;
}
.ul_video_list.sortable .li_droppable_video {
    padding: 0.5em;
    background: rgba(77, 77, 77, 0.5);
}


#div_main {
    margin: 0 auto;
}
#div_content {
    padding: 3em 0;
    color: #fff;
}
#div_search {
    padding-right: 2em;
}
#div_queue {
    padding-left: 2em;
}
#div_search_input #div_search_widgets,
#div_search_input #div_search_widgets .pull-right{
    width: 90%;
}
#div_search_input #div_search_loading,
#div_search_input #div_search_widgets .pull-left{
    width: 5%;
}
#div_search_input i {
    width: 5%;
    min-height: inherit;
}
#div_search_input input {
    width: 85%;
    padding: 0;
    margin: 0 0.5em;
    color: #999;
    background: transparent;
    border: none;
}
#div_search_input input:focus {
    color: #fff;
    box-shadow: none;
}
#div_video_container {
    position: relative;
    height: 0;
    padding-bottom: 56.25%;
    padding-top: 30px;
    overflow: hidden;
    background: url('../img/video_off.gif') repeat;
    border: 1px solid #333;
}
#div_video_container iframe,
#div_video_container object,
#div_video_container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
#ul_search_results li .div_video_info .pull-left {
    width: 37%;
}
#ul_search_results li .div_video_info .pull-right {
    width: 63%;
}
#ul_search_results li p {
    padding: 0;
    margin: 0;
    text-overflow: clip;
    overflow: hidden;
}
#ul_search_results li p.muted {
    line-height: 1em;
}
#ul_search_results li img {
    width: 70px;
}
#ul_queue li.li_selected_video {
    background: #777;
}
#ul_queue li .span_delete {
    min-height: inherit;
    color: #555;
}
#ul_queue li .span_delete:hover {
    color: #fff;
    cursor: pointer;
}
#p_queue_status {
    height: 22px;
    padding: 0;
    margin: 0 0.5em;
}
#div_search_loading {
    -webkit-animation: rotateIn 1s infinite;
    -moz-animation: rotateIn 1s infinite;
    -o-animation: rotateIn 1s infinite;
    animation: rotateIn 1s infinite;
}
#div_player_controls .btn-toolbar .btn-group .btn {
    padding: 0.3em 3em;
}
